[package]
name = "network"
version = "0.1.0"
authors = ["leeyr <leeyr@cryptape.com>"]
edition = "2018"

[dependencies]
fnv = "1.0.6"
log = "0.4.6"
discovery = { git = "https://github.com/driftluo/p2p.git" }
p2p = { git = "https://github.com/driftluo/p2p.git" }